 /* CSS responsável pela animação de carregamento da página */
.animate-show {
  -webkit-animation-name: animateshow;
  -webkit-animation-duration: 1500ms;
  animation-name: animateshow;
  animation-duration: 1500ms;
}

@-webkit-keyframes animateshow {
  from { opacity:0 } 
  to { opacity:1 }
}

@keyframes animateshow { 
  from { opacity:0 } 
  to { opacity:1 }
}

#loading-div {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: whitesmoke;
  z-index: 10000;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  z-index: 10001;
}

.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #80b7ff;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 500ms;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Main */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: whitesmoke;
}

#app {
  margin: 0 0;
  width: 100dvw;
  height: 85dvh;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: monospace;
}

#app-sidebar {
  border: 1px solid black;
  border-radius: 0.5rem 0 0 0.5rem;
  overflow-y: auto;
  background-color: white;
}

#app-toolbar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#app-component-list {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem 0 1rem;
  display: grid;
  gap: 0.5rem 4px;
}

@media screen and (min-width: 1367px) {
  #app-sidebar {
    width: 15vw;
  }
  #app-component-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 1367px) {
  #app-sidebar {
    width: 18vw;
  }
  #app-component-list {
    grid-template-columns: 1fr;
  }
}

.app-component {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  cursor: grab;
  border: 2px solid #289eab;
  border-radius: 0.25rem;
  padding: 4px 4px;
  transition-duration: 200ms;
}

.app-component:hover {
  background-color: #289eab80;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.6);
}

.component-gate {
  width: 100px;
  height: 50px;
  max-width: 5em;
  max-height: 5em;
  object-fit: contain;
}

.component-io {
  width: 100px;
  height: 50px;
  max-width: 3.75em;
  max-height: 3.25em;
  object-fit: contain;
}

#app-canvas-container {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  width: 80vw;
  background-color: white;
  border: 1px solid black;
  border-radius: 0 0.5rem 0.5rem 0;
  z-index: 3;
}

#app-canvas-container > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  border-radius: 0 0.5rem 0.5rem 0;
}

#background-canvas {
  z-index: 4;
}

#editor-canvas {
  z-index: 5;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback */
  background-color: rgba(0,0,0,0.4);
  font-family: monospace;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 15dvh auto;
  padding: 2rem;
  width: 80dvw;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  gap: 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.6rem 0.4rem #00000036;
}

.modal-animate-show {
  animation-name: animateshow;
  animation-timing-function: ease-out;
  animation-duration: 0.6s
}

.modal-animate-top {
  animation-name: animatetop;
  animation-timing-function: ease-in-out;
  animation-duration: 0.6s
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.modal-close {
  font-size: 24pt;
  color: #aaa;
  position: absolute;
  right: 2rem;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  font-size: 14pt;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.modal-title {
  margin: auto;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.button-list {
  display: inline-flex;
  align-content: center;
  justify-content: center;
}

.button-list > button {
  margin: 0 0.25rem;
}

/* Carrosel */
.carrousel {
  display: flex;
  align-content: center;
  justify-content: center;
}

.carrousel-item {
  width: 80%;
  word-break: normal;
  text-indent: 1rem;
  text-align: center;
  font-size: 0.8rem;
  display: none;
}

.carrousel-active {
  display: block;
}

@media screen and (min-width: 1367px) {
  .image-grid-2 {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 0.4rem;
  }

  .image-grid-2 > img {
    max-width: 35dvw;
    height: auto;
  }
}

@media screen and (max-width: 1367px) {
  .image-grid-2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 0.4rem;
  }

  .image-grid-2 > img {
    max-width: auto;
    max-height: 45dvh;
  }
}