body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: whitesmoke;
}

#app {
  margin: 0 0;
  width: 100vw;
  height: 85vh;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  font-family: monospace;
}

#app-sidebar {
  width: 15vw;
  border: 1px solid black;
  overflow-y: auto;
  background-color: white;
}

#app-toolbar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#app-component-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
}

.app-component {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2em;
}

.component-gate {
  max-width: 5em;
  max-height: 5em;
  object-fit: contain;
}

.component-io {
  max-width: 3.75em;
  max-height: 3.75em;
  object-fit: contain;
  margin-bottom: .75em;
}

.app-canvas-container {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  width: 80vw;
  background-color: white;
}

#background-canvas {
  z-index: 1;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

#editor-canvas {
  border: 1px solid black;
  z-index: 2;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
