body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 0;
  width: 100vw;
  height: 80vh;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}

#app-sidebar {
  width: 10vw;
  border: 1px solid black;
  margin-right: 1em;
}

#app-key-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
}

.app-key-item {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.app-key-item > * {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.app-key-gate-img {
  width: 4em;
  object-fit: contain;
}

.app-canvas-el {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  width: 70vw;
}

.app-canvas-el > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

#editor-background {
  z-index: 1;
}

#editor-canvas {
  border: 1px solid black;
  z-index: 2;
}