body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 0;
  width: 100vw;
  height: 85vh;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}

#app > * {
  font-family: monospace;
}

#app-sidebar {
  width: 15vw;
  border: 1px solid black;
}

#app-key-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
}

.app-key-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2em;
}

.app-key-gate-img {
  max-width: 5em;
  object-fit: contain;
}

.app-key-io-img {
  max-width: 3.75em;
  object-fit: contain;
}

.app-canvas-el {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  width: 80vw;
}

.app-canvas-el > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

#editor-background {
  z-index: 1;
}

#editor-canvas {
  border: 1px solid black;
  z-index: 2;
}